html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width:100%;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}
.fa-search {
    padding-top: 7px;
}

.country {
  font-size: 28px;
  margin: 1rem 0;
  font-weight: bold;
}

.iconify {
  font-size: 24px;
  margin-right: 20px;
  margin-top: 2px;
}

.btn {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
}

.country-detail, 
.country-stat, 
.border-country,
.img-wrapper,
.country {
    padding: 12px 40px;
}

.border-country {
  margin-bottom: 20px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  line-height: 2;
}

.borders {
  margin-bottom: 1.5rem;
}

span {
  font-weight: 500;
}

ion-icon {
  font-size: 20px;
  padding: 3px 10px;
}

a:hover {
    animation: pulse;
    animation-duration: 1.5s;
    cursor: pointer;
}

nav {
  box-shadow: 0 3px 3px -3px black;
}

.title {
  padding: 12px 50px;
}


@media (min-width: 992px) {
  .container {
    padding: 0;
    overflow: hidden; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;  
    grid-template-areas: "img-wrapper img-wrapper country country" "img-wrapper img-wrapper country-detail country-stat" "img-wrapper img-wrapper border-country border-country";
    margin: 0 auto;
  }
  .img-wrapper {
    grid-area: img-wrapper;
    /* width: 700px; */
    position: relative;
    right: 40px;
    margin-top: 25px;

  }
  .country{
    grid-area: country; 
    width: 500px;
  }
  .country-detail {
    grid-area: country-detail;
    margin-top: -85px;
    margin-right: -100px;

  }
  .country-stat {
    grid-area: country-stat;
    margin-top: -85px;
    margin-right: -150px;
  }
  .border-country {
    grid-area: border-country;
  }
} 
