html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    box-sizing: border-box;
}
.fa-search {
    padding-top: 7px;
}

.iconify {
  font-size: 24px;
  margin-right: 20px;
  margin-top: 2px;
}

.btn-text {
  position: relative;
  top: -6px;
  right: 5px;
}

